
.pagination {
  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: white;
  $pagination-hover-background: lighten($pagination-border-color, 5);
  $pagination-color: $base-font-color;
  border: $pagination-border;
  padding: $base-spacing/4 $gutter/2;
  
  margin: 2em 0;
  font-size: .8em;

  ul {
    display: inline;
    text-align: center;

    li {
      display: inline;
    }

    ul li {
      display: none;
      
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }

    
    li a {
      @include transition (all 0.2s ease-in-out);
      display: inline-block;
      background: $pagination-background;
      border: $pagination-border;
      border-color: transparent;
      color: $pagination-color;
      border-radius: 0.8em;
      line-height: 1.6em;
      text-align: center;
      width: 1.6em; 

      &:hover,
      &:focus {
        background: $pagination-hover-background;
        color: $base-link-color;
      }

      &:active {
        background: $pagination-background;
      }
    }
    
    li[class^="page-"] a {
      border: $pagination-border;
    }
    
    li.active a {
      font-weight: bold;
    }
  }
  
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    margin: 0;
    font-size: .5em;
    vertical-align: baseline;
  }
}
