.sidebar {
  $sidebar-border-color: $base-border-color;
  $sidebar-background: lighten($sidebar-border-color, 10);

  @include clearfix;
  border: 1px solid $sidebar-border-color;
  background: $sidebar-background;
  padding: $gutter / 2;
  border-radius: $base-border-radius;
  margin-bottom: 1em;
  
  @include media($large-screen) {
    min-height: 420px;
  }
  
  .sidebar-title {
    font-size: 1em;
    margin-bottom: 1.5em;
  }
  
  .nav-link a {
    color: $base-font-color;
    display: block;
    margin: 0 ($gutter / -2);
    padding: .25em ($gutter / 2);
    
    &:hover {
      color: darken($base-font-color, 15);
    }
  }
  
  .nav-link.active a {
    background: $base-highlight-color;
    color: white;
    font-weight: bold;
  }

    
  .filter {
    margin-bottom: 1em;
  }

  button {
    @include button(flat, $sidebar-background);
    font-size: .8em;
    width: 100%;
    color: $base-font-color;
  }


}

