.table-borders {
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 10);
  $table-header-color: lighten($table-background, 10);
  $table-hover-color: darken($table-background, 5);
  $table-stripe-color: darken($table-background, 4);
  $table-stripe-color-hover: darken($table-stripe-color, 5);
  $table-padding: 0.5em;

  border: $table-border;
  border-left: 0px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $base-border-radius;

  tbody {
    background-color: $table-background;
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-color;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-color;
      &:hover > td {
        background-color: $table-stripe-color-hover;
      }
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    th {
      background-color: $table-header-color;
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-bottom: 0px;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 0px;

      button {
        padding: 0 .5em;
        border-radius: 0;
        background: transparent !important;
        display: inline-block;
        width: 100%;
        margin-bottom: .3em;
        outline: none;
        color: $base-link-color;
        font-weight: normal;

        @include media($medium-screen) {
          width: auto;
          margin-bottom: 0;
          border-right: $base-border;
          &:last-child {
            border-right: 0;
          }
          &:hover {
            color: $hover-link-color;
          }
        }
      }
    }
  }
}




.cart-table {
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  
  .cart-table-title {
    padding-left: 0;
    width: 24em;
  }
  
  .cart-table-actions {
    width: 8em;
  }
  .cart-table-head th {
    border: 0;
  }
  
  .cart-table-body {
    font-size: em(14);
    td {
      vertical-align: top;
    }
    td:last-child {
      border-right: $base-border;
    }
  }
  
  .media {
    border-bottom: 0;
    padding: 0;
    margin: 0;
    .media-image > img {
      width: 8em;
    }
  }
  
  .cart-table-footer {
    td,th {
      border: 0;
      padding-bottom: 0;
      text-align: right;
    }
    td {
      padding-right: .5em;
    }
  }
  
  .numeric {
    text-align: right;
  }
  
  
  @include media(max-width $large-screen) {

    .optional {
      display: none;
    }
    
    .cart-table-title {
      width: 75%;
    }
    
    .cart-table-actions {
      width: 25%;
    }
  }
    

}



